.about {
  background-color: #f8faf9;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 108px;
  }
  &__title {
    color: $black;
    text-align: center;
    margin-bottom: 44px;
  }
  &__container::before {
    content: "";
    position: absolute;
    background-color: $red;
    width: 48px;
    height: 46px;
    bottom: -24px;
    right: 9%;
    transform: rotate(-15deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    z-index: 5;
  }
}
