.advantages {
  color: $black;

  &__container {
    padding: 0 1rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      margin-top: 3rem;
    }

    @include small-phone {
      margin-top: 2rem;
    }
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    @include body2regular;
    color: $grey;
    padding: 0 4rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.2rem;
    max-width: 62%;

    @include tablet {
      margin-bottom: 5.2rem;
      max-width: 100%;

    }

    @include phone {
      margin-bottom: 2rem;
      padding: 0 1rem;

    }
  }

  &__list {
    display: flex;
    justify-content: center;

    @include phone {
      flex-direction: column;
    }
  }

  &__item.advantage-card {
    padding: 0 4.1rem;
    position: relative;

    @include tablet {
      padding: 0;

      & .advantage-card__title {
        margin-bottom: 2rem;
      }

      & .advantage-card__text {
        padding: 0 0.7rem;
      }
    }

    @include phone {
      flex-direction: row;
      align-items: center;
      padding: 0;
      gap: 1rem;

      & .advantage-card__title {
        margin-bottom: 0.5rem;
        margin-left: 0.8rem;
        text-align: left;
      }

      & .advantage-card__text {
        text-align: left;
        max-width: 30.5rem;
        margin-bottom: 3rem;
      }
    }

    @include small-phone {
      & .advantage-card__text {
        margin-bottom: 1rem;
      }
    }
  }

  &__item:not(&__item:last-of-type):after {
    content: "";
    width: 6.7rem;
    height: 2.1rem;
    position: absolute;
    top: 6rem;
    right: -3.5rem;
    background-image: url(../img/icons/Combined_shape.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      display: none;
    }
  }

  &__container::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    transform: rotate(226deg);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 34px solid $red;
    z-index: 5;

    @include tablet {
      bottom: 0;
      left: 4%;
    }

    @include small-phone {
      bottom: -12px;
      left: 0;
    }
  }
}