.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  border: none;
  gap: 0.5rem;
  cursor: pointer;
  @include tablet {
    display: flex;
  }
  &__bar {
    background-color: $black;
    padding: 0.2rem;
    border-radius: 0.5rem;
    width: 100%;
  }
}
