.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem 4.1rem;
  border-radius: 10rem;
  text-transform: uppercase;
  max-height: 5.4rem;
  font-family: "Play", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1;
  cursor: pointer;

  &_bg_red {
    background-color: $red;
    color: #fff;
  }
}
