.colors {
  color: #fff;
  overflow: hidden;

  &__container {
    background-image: url(../img/Slider.jpg);
    height: 652px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    position: absolute;
    top: 115px;
    left: 84px;
    z-index: 1;

    @include phone {
      font-size: 3.2rem;
    }

    @include small-phone {
      font-size: 2.2rem;
    }
  }

  &__list {
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    display: flex;
  }

  &__item-title {
    position: relative;
    border: none;
    color: #fff;
    width: 102px;
    text-indent: 34px;
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    font-family: Alegreya Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    transform: rotate(180deg);
    text-align: right;
    cursor: pointer;

    @include phone {
      width: 90px;
    }

    @include small-phone {
      width: 70px;
    }
  }

  &__item:nth-of-type(3) .colors__item-title:after {
    background-color: transparent;
  }

  &__item:nth-of-type(1) .colors__item-title {
    background-color: #999999;
  }

  &__item:nth-of-type(2) .colors__item-title {
    background-color: #151515;
  }

  &__item:nth-of-type(3) .colors__item-title {
    background-color: #e01f3c;
  }

  &__item-content {
    width: 0;
    overflow: hidden;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #333537e5;
    transition: .5s ease-out;

    @include small-phone {
      font-size: 1.2rem;
    }
  }

  &__item-text {
    width: 524px;
    padding: 3.8rem;

    @include small-phone {
      padding: 1rem;
    }
  }
}