.contacts {
  font-family: Play;
  font-size: 18px;
  line-height: 1;

  &__phone {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__phone::before {
    content: "";
    display: inline-block;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/phone.svg);
    background-size: contain;
  }
}
