.contacts {
  font-family: Play;
  font-size: 1.8rem;
  line-height: 1;

  &__phone {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__inner {
    display: flex;
    gap: 0.5rem;
  }
  &__icon {
    width: 14px;
    height: 14px;
    use {
      fill: $black;
      @include tablet {
        fill: $red;
      }
      @include phone {
        fill: $black;
      }
    }
  }
}
