.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;

  &__title {
    max-width: 47%;
    line-height: 1.08;
  }

  &__text {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 2.1rem;
    line-height: 1.2;
    max-width: 35%;
  }
}
