.delivery {
  background-color: #181818;
  color: white;
  &__container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    color: white;
    margin-bottom: 61px;
    text-align: center;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__popup {
    @include body2semibold;
    display: none;
    position: fixed;
    top: calc(50% - 88px);
    left: calc(50% - 155px);
    width: 309px;
    height: 176px;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &_active {
      display: flex;
    }
  }
}
