.details {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1.8rem;

  &__item {
    max-width: 16.6rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.15;
    gap: 0.5rem;
  }
  &__icon {
    width: 50px;
    height: 50px;
  }

  &__item-text {
    width: 16.6rem;
  }
}
