.details {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;

  &__item {
    max-width: 166px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.15;
  }

  &__item-text {
    width: 166px;
  }

  &__item::before {
    content: "";
    display: inline-block;
    min-width: 41px;
    height: 41px;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
  }

  &__item:first-of-type::before {
    background-image: url(../img/icons/noise1.svg);
  }
  &__item:nth-of-type(2)::before {
    background-image: url(../img/icons/charging1.svg);
  }
  &__item:nth-of-type(3)::before {
    background-image: url(../img/icons/plug1.svg);
  }
}
