.feedbacks {
  &__container {
    position: relative;
    max-width: 94.2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      padding: 0 2.2rem;
    }
  }
  &__title {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 2.6rem;
    z-index: 5;
  }
  &__card {
    margin-bottom: 1.5rem;
    display: none;
    @include tablet {
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5.6rem 2.5rem 0;
      margin-bottom: 3.5rem;
      &::before {
        content: "";
        position: absolute;
        top: -10%;
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
      }
      & .feedback__info {
        align-items: center;
        gap: 1.5rem;
      }
      & .feedback__img {
        width: 13rem;
      }
      & .feedback__title {
        margin-top: 0;
      }
      & .feedback__author {
        margin-bottom: 4rem;
      }
    }
    &_active {
      display: flex;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
  }
  &__button {
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    cursor: pointer;
    &_active {
      outline: 4px solid #e01f3d;
      outline-offset: -3.8px;
    }
  }
  &__img {
    width: 7.4rem;
    object-fit: cover;
    border-radius: 50%;
  }
  &__container:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #868686;
    bottom: -20px;
    left: 0;
    z-index: 5;
    @include tablet {
      left: 4%;
    }
  }
}
