.feedback {
  background-color: #f8faf9;
  padding: 4.2rem;
  display: flex;
  justify-content: flex-start;
  gap: 3.8rem;

  &__img {
    width: 25.3rem;
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  &__title {
    @include headline3;
  }
  &__text {
    @include body2regular;
    max-width: 93%;
    color: $grey;
  }
  &__author {
    @include body2bold;
  }
}
