.footer {
  &__container {
    min-height: auto;
    padding-top: 22px;
    padding-bottom: 18px;
    padding: 22px 30px 18px;
    max-width: 1052px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    @include phone {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__contacts {
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  &__address {
    font-style: normal;
    margin-bottom: 9px;
  }
  & .contacts__phone {
    color: $red;
    @include phone {
      font-size: 16px;
      color: #000;
    }
  }
}
