.menu {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 1.66;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item:not(.nav__item:last-of-type) {
    margin-right: 27px;
  }
}
