.models {
  background-color: #f8faf9;

  &__container {
    position: relative;
    max-width: 101rem;
    padding: 0 1rem;
    padding-top: 6.6rem;
    padding-bottom: 9.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {

      padding: 1rem;
    }
  }

  &__button {
    position: absolute;

    &_left {
      top: calc(50% - 2rem);
      left: 1rem;

      @include tablet {
        left: -1rem;
      }
    }

    &_right {
      top: calc(50% - 2rem);
      right: 1rem;

      @include tablet {
        right: -1rem;
      }
    }
  }

  &__item {
    display: flex;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__container::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $black;
    position: absolute;
    bottom: -1.7rem;
    right: 3%;
    transform: rotate(30deg);
    z-index: 5;
  }
}