.properties {
  position: relative;
  width: 36.4rem;
  @include body1semibold;
  color: #000;
  @include tablet {
    display: none;
  }
  &__button {
    width: 9.1rem;
    height: 9.1rem;
    background-color: #9a9a9a;
    background-image: url(../img/icons/gear1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 46%;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    &:hover + .properties__list {
      visibility: visible;
    }
  }
  &__list {
    visibility: hidden;
    width: calc(100% - 9.1rem);
    padding: 1.8rem 1.3rem 2.4rem 3rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffffef;
    box-shadow: 0.4rem 0.4rem 4rem 0rem #0000000f;

    &:hover {
      visibility: visible;
    }
  }

  &__item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.6rem;
    use {
      fill: $black;
    }
  }
  &__name {
    display: flex;
  }
  &__value {
    margin-left: auto;
  }
}
