.wrapper {
  &__main-content {
    color: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & &__fixed-paginator {
    @include tablet {
      display: none;
    }
    position: fixed;
    z-index: 100;
    right: 20px;
    top: 50%;
    transform: translateY(-65%);
  }
}
