.socials {
  display: flex;
  column-gap: 10px;

  &__link {
    display: block;
    width: 30px;
    height: 30px;

    @include phone {
      width: 24px;
      height: 24px;
    }

    use {
      fill: #b3b3b3;
      transition: 0.3s;
    }

    &:hover use {
      fill: black;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}