.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__main-content {
    color: $black;
    transition: .5s;
    height: 100%;
  }

  & &__fixed-paginator {
    @include tablet {
      display: none;
    }

    position: fixed;
    z-index: 100;
    right: 10px;
    top: 50%;
    transform: translateY(-65%);
  }
}