.advantages {
  position: relative;
  padding-top: 105px;
  padding-bottom: 98px;
  color: $black;
  &__container {
    max-width: 960px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    @include body2regular;
    color: $grey;
    max-width: 590px;
    padding: 0 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 62px;
  }

  &__list {
    display: flex;
    gap: 55px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 276px;
  }

  .advantage-card__img-container::after {
    content: "";
    width: 67px;
    height: 21px;
    position: absolute;
    top: 50%;
    right: -95%;
    background-image: url(img/icons/Combined\ shape\ 2203.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 4%;
    transform: rotate(226deg);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 34px solid $red;
    z-index: 5;
  }
}
