.advantages__container {
  padding-top: 103px;
  padding-bottom: 89px;
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
}

.advantages__text {
  max-width: 590px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
}
