.delivery {
  position: relative;
  background-color: #181818;
  color: white;
  &__container {
    max-width: 940px;
    padding: 70px 0px 88px;
  }
  &__title {
    color: white;
    margin-bottom: 61px;
    text-align: center;
  }

  &__popup {
    @include body2semibold;
    display: none;
    position: absolute;
    top: calc(50% - 88px);
    left: calc(50% - 155px);
    width: 309px;
    height: 176px;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &_active {
      display: flex;
    }
  }
  &__button {
    border: none;
  }
}
