.feedbacks {
  &__container {
    padding: 63px 0px;
    max-width: 942px;
  }
  &__title {
    @include headline1;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 26px;
  }
  &__card {
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 6px;
  }
  &__item {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    &_active {
      border: 4px solid #e01f3d;
    }
  }
  &__img {
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 50%;
  }
}
