.header {
  color: $black;
  padding-top: 24px;
  background-color: #f5f5f5;

  &__container {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 46px;
  }

  &__logo {
    margin-right: 38px;
    align-self: start;
  }

  &__nav {
    margin-top: 8px;
  }

  &__contacts {
    margin-right: 25px;
    margin-left: auto;
  }
}
