.models {
  background-color: #f8faf9;
  position: relative;

  &__button {
    position: absolute;

    &_left {
      top: calc(50% - 20px);
      left: 55px;
    }

    &_right {
      top: calc(50% - 19px);
      right: 55px;
    }
  }

  &__item {
    display: none;
    &_active {
      display: flex;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $black;
    position: absolute;
    bottom: -17px;
    right: 7%;
    transform: rotate(30deg);
    z-index: 5;
  }
}
