.team {
  padding-top: 76px;
  padding-bottom: 24px;
  position: relative;

  &__container {
    max-width: 942px;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 53px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }

  &__item {
    max-width: 220px;
  }
}
