@mixin headline1 {
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}

@mixin headline2 {
  font-family: Play;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

@mixin headline3 {
  font-family: Play;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

@mixin body2bold {
  font-family: Play;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

@mixin body2semibold {
  font-family: Play;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@mixin body2regular {
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@mixin body1semibold {
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin body1regular {
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin body1light {
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
